@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 330px;
  padding-top: 100px;
  color: $color-point;

  @include mini_desktop {
    position: relative;
    width: 100%;
    padding-top: 0;
    margin-bottom: 30px;
  }

  .logo {
    text-align: center;

    img {
      width: 220px;
      max-width: 40vw;
    }
  }

  .menulist {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    width: 200px;
    margin: $space-xl auto 0;

    li {
      transition: transform 0.3s ease;

      .menu {
        display: flex;
        align-items: center;
        gap: $space-md;
        font-size: $font-size-xl;
        transition: transform 0.3s ease;

        span {
          color: $color-white;
          transition: 0.2s;
        }
      }

      &:hover:not(.disabled) {
        .menu {
          transform: translateX(8px);

          span {
            color: $color-point;
          }
        }
      }

      .active {
        transform: translateX(15px);
        color: $color-point;

        span {
          color: $color-point;
        }
      }

      &.disabled {
        pointer-events: none;

        .menu {
          color: gray;
          opacity: 0.5;
          cursor: not-allowed;

          span {
            color: gray;
            transform: none;
          }
        }
      }
    }

    @include mini_desktop {
      display: none;
    }
  }

  .menubar {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-point;
    font-size: 50px;

    @include mini_desktop {
      display: block;
    }
  }




  .loginInfo {
    padding: 16px;
    font-size: $font-size-md;
    color: white;
    background-color: rgba(170, 170, 170, 0.6);
    border-radius: 8px;
    margin: 60px 40px 40px;

    p {
      margin-bottom: $space-sm;
    }

    strong {
      text-decoration: underline;
      margin-bottom: $space-md;
    }

    button {
      background: none;
      border: none;
      color: #f6ad55;
      cursor: pointer;
      //margin-top: 8px;
      font-size: $font-size-xs;
    }

    .loginLink {
      background: none;
      border: none;
      color: #f6ad55;
      cursor: pointer;
      //margin-top: 8px;
      font-size: $font-size-xs;
    }
  }

}
